.custom-jumbotron
{
    background-image: url(../img/layout/header.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* .title
{
    font-size: 500px;
} */


