.custom-jumbotron
{
    background-image: url(../img/layout/header.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-shadow: 0px 0px 2px black;
      
}

/* .title
{
    font-size: 500px;
} */


