.custom-jumbotron
{
    margin-bottom: 0px;
    padding-bottom: 100px;
    /* background-image: url("/img/rules/painterbanner.jpg"); */
    background-position: 0% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #454f5b;
}

#grey-div
{
    background-color: #c4cdd5;
    padding-top: 200px;
    padding-bottom: 200px;
}

.green-icon-color
{
    color:green;
}