.custom-image-welcome
{
    /* height: 600px;
    width: 100%; */
    position: center;
    size: contain;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
      
  